.results {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.navBar {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.navBar_button{
  flex-grow:1;
  border: 3px solid black;
  height: calc(100% - 6px);
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_contents {
  width: 100%;
  height: 100%;
}

.headerLogo{
  font-weight: bold;
  font-size: 45px;
}

.headerRow{
	background-color: rgba(155,155,155,0.75);
	border-collapse: collapse;
	font-weight: bold;
	padding-left: 3px;
}
.tableResults {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.subcategory {
  background-color: rgba(155,155,155,0.55);
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.cellOverflow {
	text-overflow: ellipsis;
	overflow: hidden;
}
#MVP7,#MVP8,#MVP10,#MVP11,#MVP15{
	padding: 5px;
}
#content {
  padding: 5px;
}

input {
  width: 95%;
}

select {
  width: 100%;
}
